<!DOCTYPE html>
<html>
    <% include partials/head %>
    <script src="/javascripts/gathering.js"></script>
    <body id="gathering-body">
        <% include partials/header %>
        <h1><%=gatheringName %></h1>
        <img id="defaultGathering" src="/images/DefaultGathering.jpg" height = "150"/> 
        <p>Host : <%=host %></p>
		<p>Key : <%=key %></p>
        <div class="error"></div>
		
		<p>Next Song:</p>
		<div><%=queuedSongs[1].title %> by <%=queuedSongs[1].artists %></div>
        
        <div id="queuedSongs">
            <h3>Queued Songs</h3>
            <ol>
			<% for(var i=2; i<queuedSongs.length; i++) {%>
			   <li><%= queuedSongs[i].title %> by <%= queuedSongs[i].artists %></li>
			<% } %>
			</ol>
        </div>
        
        <iframe src="https://embed.spotify.com/?uri=spotify:trackset:WeTube:<%=currentSongId%>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>            
		
        <button id="members-btn">View Members</button><br>
		
		<%if (currentUser === host) { %>
			<button id="end-gathering-btn">End My Gathering</button><br>
		<% } %>
        
		<div> <button id="back-main-btn">Back to Main Page</button></div>
        
     <h2><%=currentSongLength %></h2>
     <script>
        var currentSongLength = <%= currentSongLength %>            
     </script>
        
    </body>
</html>
