<!DOCTYPE html>
<html>
    <% include partials/head %>
    
    <body>
        <% include partials/header %>
        <h1><%=gatheringName %></h1>
        <img id="defaultGathering" src="/images/DefaultGathering.jpg" height = "150"/> 
        <p>Host : <%=host %></p>
		<p>Key : <%=key %></p>
        <div class="error"></div>
		
		<p>Next Song:</p>
		<div><%=nextSong.title %> by <%=nextSong.artist %></div>
        
        <div id="queuedSongs">
            <h3>Queued Songs</h3>
            <ol>
			<% for(var i=0; i<queuedSongs.length; i++) {%>
			   <li><%= queuedSongs[i].title %> by <%= queuedSongs[i].artist %></li>
			<% } %>
			</ol>
        </div>
		
        <button id="members-btn">View Members</button><br>
		
		<%if (currentUser === host) { %>
			<button id="end-gathering-btn">End My Gathering</button><br>
		<% } %>

        
    </body>
</html>
