<!DOCTYPE html>
<html>
<div id="content-box">
      <div align = "center">
    <% include partials/head %>
    <script src="/javascripts/gathering.js"></script>

    <body id="gathering-body">
        <% include partials/header %>
        <div class="content-box" style="width:50%">
        <h1><%=gatheringName %></h1>
<!--
        <img id="defaultGathering" src="/images/DefaultGathering.jpg" height = "150"/> 
-->
        <p>Host : <%=host %></p>
        <label>Emails:</label>
        <input type="hidden" name="key" value="<%=key%>" />
        <p>Invite more friends! :) <br>Send an invitation link to their email. </p>
        <input type="text" name="invitee"/>
        <button type="button" id="gathering-invite">Invite!</button>
		<p>Key : <%=key %></p>
        <div class="error"></div>
        <div id="queuedSongs">
            <h3>Queued Songs</h3>
            <ol>
			<% for(var i=0; i<queuedSongs.length; i++) {%>
			   <li><%= queuedSongs[i].title %> by <%= queuedSongs[i].artists %></li>
			<% } %>
			</ol>
        </div>
        <br><br>
        <div id="holderdiv" clas="iframe_wrap">
        <iframe src="https://embed.spotify.com/?uri=spotify:trackset:WeTube:<%=trackids%>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>            
        <div id="testframe"></div>
        </div>
        <br><br>
        <button id="rechoose-songs-btn">Rechoose songs</button>
        <button id="members-btn">View Members</button>
		<%if (currentUser === host) { %>
			<button id="end-gathering-btn">End My Gathering</button><br>
		<% } %>
        <br>
		<button id="back-main-btn">Back to Main Page</button>
        </div>   
    </body>
</div>
</html>
